#!/bin/bash
# Example ResumeProgram
sudo sh -c 'echo "`date` Resume invoked $0 $*" >>/var/log/power_save.log'
hosts=`scontrol show hostnames $1`
echo "$hosts will be resumed" >>/var/log/power_save.log
scontrol reconfig
for host in $hosts
do
   echo "$host is resuming" >>/var/log/power_save.log
   sudo scontrol update NodeName=$host state=resume
   ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{user_client_ip}} python ~/.hwcc/script/start_vm.py clustername-$host >> /var/log/power_save.log
   echo "$host is resumed"  >>/var/log/power_save.log
done
#scontrol reconfig
#scontrol update NodeName=compute001 state=resume
